@import 'colors/cloud.css';

* {
    border: none;
    border-radius: 15px;
    font-family: 'Adwaita Sans', 'JetBrainsMono Nerd Font Propo', sans-serif;
    font-size: 15px;
    font-weight: bold;
    min-height: 0;
    padding: 0px 7px;
    margin: 0;
}

window#waybar {
    background: transparent;
}

tooltip {
    background: @bg0;
    border: 1px solid @bg3;
    border-radius: 12px;
}

tooltip label {
    color: @fg;
    padding: 5px;
}

#workspaces {
    background-color: @bg3;
    padding: 5px 3px;
    margin: 0 0 0 12px;
    border-radius: 18px;
    border: 1px solid @bg1;
}

#workspaces button {
    padding: 0px 6px;
    margin: 0px 3px;
    border-radius: 50px;
    color: white;
    transition: all 0.2s ease-in;
}

#workspaces button.active {
    background-color: #f0a534;
    color: @bg0;
    min-width: 50px;
    font-size: 13px;
}

#workspaces button:hover {
    background-color: #f0a534;
    color: @bg3;
    border-radius: 50px;
    min-width: 50px;
}

#workspaces button.urgent {
    background-color: @red;
    color: @bg0;
    border-radius: 16px;
    min-width: 50px;
    transition: background-color 0.3s ease-in-out;
}

#custom-notification {
    background-color: @bg3;
    padding: 0 10px 0 10px;
    margin: 0 5px 0 5px;
    border-radius: 30px;
    color: @fg;
}


#custom-arch,
#clock,
#pulseaudio,
#network,
#language,
#group-power,
#custom-weather,
#battery {
    background-color: @bg3;
    margin: 0px 3px;
    padding: 0px 10px;
}

#custom-arch {
    color: rgb(78, 162, 231);
    font-size: 18;
}

#language {
    color: rgb(189, 166, 166);
}

#clock {
    color: #f0a534;
}

#clock.simpleclock {
    padding: 0 12px;
}

#pulseaudio {
    color: @yellow;
}



#network {
    color: rgb(134, 180, 226);
}

#battery {
    color: @green;
}

#custom-weather {
    color: rgb(227, 217, 217);
    font-size: 16px;
}

#custom-weather.severe {
    color: #e37e65;
}

#custom-weather.sunnyDay {
    color: #cab176;
}

#custom-weather.clearNight {
    color: #187c7c;
}

#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight {
    color: #c2ddda;
}

#custom-weather.rainyDay,
#custom-weather.rainyNight {
    color: #5aaca5;
}

#custom-weather.snowyIcyDay,
#custom-weather.snowyIcyNight {
    color: #d6e7e5;
}

#custom-weather.default {
    color: #dbd9d8;
}

#custom-power,
#custom-lock,
#custom-suspend,
#custom-logout,
#custom-reboot {
    padding: 0px 12px;
    margin: 4px 2px;
    border-radius: 8px;
    background-color: #313244;
    color: #cdd6f4;
    font-size: 16px;
}

/* The custom Power button CSS */

/* Give the main power button a distinct color */
#custom-power {
    color: #f38ba8;
}

/* Hover effects for all buttons */
#custom-power:hover,
#custom-lock:hover,
#custom-suspend:hover,
#custom-logout:hover,
#custom-reboot:hover {
    background-color: #45475a;
}

/* Drawer styling */
window#waybar drawer {
    transition-property: background-color;
    transition-duration: 0.3s;
}

